.swiper-pagination-bullet {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-pagination-bullet {
  width: max(7px, min(2vw, 12px));
  height: max(7px, min(2vw, 12px));
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: max(31px, min(2vw, 40px));
  height: max(7px, min(2vw, 12px));
  border-radius: 15px;
}

.header__sub::before {
  position: absolute;
  content: "";
  height: 55%;
  bottom: -4%;
}

.header__sub {
  text-transform: uppercase;
}
