.download {
  overflow: hidden;
  position: relative;
}

.download-wrapper {
  width: 100%;
  padding: 7% 0 20% 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.download-header__sub {
  font-size: var(--sm-title);
  font-weight: bold;
  color: #be1614;
  position: relative;
  width: fit-content;
}
.download-header__sub::before {
  background: #ffefef;
  width: 112%;
  clip-path: polygon(0 0, 100% 0%, 91% 100%, 0% 100%);
  bottom: -3px;
}

.download-header__text {
  position: relative;
}
.download-header__title {
  margin-top: max(15px, min(2.5vw, 35px));
  font-weight: bold;
  font-size: var(--m-title);
}

.download-header__desc {
  margin-top: 20px;
  width: 90%;
  font-size: var(--paragraph);
}

.download-link {
  display: flex;
  margin-top: max(10px, min(2.5vw, 30px));
  padding-bottom: 5%;
}

.download-link__store {
  display: flex;
  flex-direction: column;
  height: max(75px, min(7.5vw, 124px));
}

.download-link__playstore {
  height: 50%;
  position: relative;
}

.download-link__appstore {
  height: 50%;
  position: relative;
}

.download-link__qr {
  width: max(75px, min(7.5vw, 124px));
  height: max(75px, min(7.5vw, 124px));
}

.download-path {
  position: absolute;
  width: 100%;
  left: 50%;
  object-fit: contain;
  bottom: -6%;
  transform: translateX(-50%);
  z-index: 0;
  padding: 0 5%;
}

.download-decorate {
  position: relative;
}

@media (min-width: 425px) and (max-width: 767px) {
}

@media (max-width: 1023px) {
  .download-content {
    width: 100%;
    margin-bottom: 25%;
    padding-left: 10px;
  }
  .download-link {
    width: 100%;
  }
}

@media (max-width: 424px) {
  .download-path {
    bottom: -2%;
  }
}

@media (max-width: 1600px) {
  .download-path {
    padding: initial;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .download-path {
    bottom: -2%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .download-path {
    bottom: -2%;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
}

@media (min-width: 1280px) and (max-width: 1365px) {
}

@media (min-width: 1366px) and (max-width: 1439px) {
}

@media (min-width: 1440px) and (max-width: 1599px) {
}

@media (min-width: 1600px) and (max-width: 1919px) {
}
