.introduction-wrapper {
  display: flex;
  padding: 7% 0;
  flex-wrap: wrap;
}

.introduction-img {
  position: relative;
  display: flex;
  align-items: center;
  width: 50%;
}

.introduction-infor {
  padding-left: 20px;
  width: 50%;
}

.introduction-header__sub {
  font-size: var(--sm-title);
  color: #be1614;
  margin: max(1px, min(2vw, 10px)) 0 max(12px, min(2vw, 35px)) 0;
  font-weight: bold;
  position: relative;
  width: fit-content;
  line-height: var(--sm-line-height);
}

.introduction-header__sub::before {
  background: #ffefef;
  width: 107%;
  clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
  bottom: 0px;
}

.introduction-header__text {
  position: relative;
}

.introduction-header__title {
  color: #be1614;
  font-weight: bold;
  font-size: var(--m-title);
  line-height: var(--m-line-height);
  font-family: "SVN-Avo__bold", sans-serif;
}

.introduction-header__title p {
  font-size: var(--m_p-title);
  color: #3d3d3d;
  line-height: var(--m-line-height);
}

.introduction-header__desc {
  color: #3d3d3d;
  font-weight: bold;
  font-size: var(--sub-title);
  line-height: var(--sub-line-height);
  width: 95%;
  padding-right: 5%;
}

.introduction-item__svg {
  padding-right: 10px;
}

img.introduction-item__img {
  display: flex;
  width: max(14px, min(1vw, 22px));
  margin-top: 4px;
}

.introduction-list {
  margin-top: max(5%, min(2vw, 60px));
}

.introduction-item {
  border: none;
  padding-left: 0;
  display: flex;
}

.introduction-item__text {
  font-size: var(--paragraph);
  line-height: var(--nav-line-height);
  padding-right: 8%;
}
@media (max-width: 1023px) {
}
/* Mobile (Điện thoại di động): */
@media (max-width: 767px) {
  .introduction-img {
    padding: 0px max(7%, min(0%, 100vw - 1200px));
  }
  .introduction-img {
    width: 100%;
  }
  .introduction-infor {
    width: 100%;
    padding-left: 10px;
  }
}
/* Small devices (phones): chiều rộng từ  424px đổ xuống */
@media (max-width: 424px) {
}
/* Medium devices (phones): chiều rộng từ 425px đến 767px */
@media (min-width: 425px) and (max-width: 767px) {
}
/* Tablet: */
@media (min-width: 768px) and (max-width: 1023px) {
}
/* Laptop/Desktop: */
@media (min-width: 1024px) {
}
/* Small laptops: chiều rộng từ 1024px đến 1439px */
@media (min-width: 1024px) and (max-width: 1439px) {
}
/* Large laptops/desktops: chiều rộng từ 1440px trở lên */
@media (min-width: 1440px) {
}
